/* .saved-news-header {
  margin: 0 -104px;
  padding: 0 104px;
}

@media all and (max-width: 1023px) {
  .saved-news-header {
    margin: 0 -40px;
    padding: 0 40px;
  }
}

@media all and (max-width: 499px) {
	.saved-news-header {
    margin: 0 -16px;
    padding: 0 16px;
  }
} */