.about {
  display: flex;
  padding: 80px 0;
  align-items: center;
}

.about__avatar {
  width: 464px;
  margin-right: 56px;
}

.about__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  margin: 0 0 24px;
}

.about__text {
  max-width: 600px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px;
}

.about__text:last-of-type {
  margin-bottom: 0;
}

@media all and (max-width: 1260px) {
  .about__avatar {
    width: 44.11%;
  }
}

@media all and (max-width: 1023px) {
  .about {
    padding: 61px 0;
  }

  .about__avatar {
    width: 33.72%;
    margin-right: 32px;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 16px;
  }
}

@media all and (max-width: 499px) {
  .about {
    display: block;
    padding: 32px 0 80px;
  }

  .about__avatar {
    display: block;
    width: 90%;
    margin: 0 auto 24px;
  }
}
