.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;
  margin: 0 -104px;
  padding: 0 104px;
}

.navigation_location_main {
  margin-bottom: 80px;
}

.navigation_location_saved-news {
  margin-bottom: 40px;
}

.navigation_color_white {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation_color_black {
  border-bottom: 1px solid #D1D2D6;
}

.navigation__logo-link {
  line-height: 0;
}

.navigation__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.navigation__text_color_white {
  color: white;
}

.navigation__text_color_black {
  color: #1A1B22;
}

.navigation__link {
  margin-right: 32px;
  text-decoration: none;
  padding-bottom: 25px;
}

.navigation__link_color_white {
  border-bottom: 3px solid white;
}

.navigation__link_color_black {
  border-bottom: 3px solid #1A1B22;
}

.navigation__desktop-button {
  position: relative;
  background-color: transparent;
  border-radius: 100px;
  height: 48px;
  cursor: pointer;
  outline: none;
}

.navigation__desktop-button_color_white {
  border: 1px solid white;
}

.navigation__desktop-button_color_black {
  border: 1px solid #1A1B22;
}

.navigation__desktop-button_signin {
  padding: 0;
  width: 176px;
}

.navigation__desktop-button_signout {
  text-align: left;
  padding: 0 45px 0 20px;
  min-width: 112px;
}

.navigation__desktop-button_signout::after {
  content: url(../../images/navigation__desktop-button_signout.svg);
  position: absolute;
  top: 13px;
  right: 15px;
}

.navigation__mobile-button {
  display: none;
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(../../images/navigation__mobile-button.svg);
  cursor: pointer;
  outline: none;
}

@media all and (max-width: 1023px) {
  .navigation {
    min-height: 66px;
    margin: 0 -40px;
    padding: 0 40px;
  }

  .navigation_location_main {
    margin-bottom: 38px;
  }

  .navigation_location_saved-news {
    margin-bottom: 24px;
  }

	.navigation__text {
    font-size: 16px;
  }

  .navigation__link {
    margin-right: 16px;
    padding-bottom: 21px;
  }

  .navigation__desktop-button {
    height: 40px;
  }

  .navigation__desktop-button_signin {
    width: 152px;
  }

  .navigation__desktop-button_signout {
    min-width: 100px;
    padding: 0 40px 0 15px;
  }

  .navigation__desktop-button_signout::after {
    top: 10px;
    right: 12px;
  }
}

@media all and (max-width: 767px) {
  .navigation__menu {
    display: none;
  }

  .navigation__mobile-button {
    display: block;
  }
}

@media all and (max-width: 499px) {
  .navigation {
    min-height: 56px;
    margin: 0 -16px;
    padding: 0 16px;
  }

  .navigation_location_main {
    margin-bottom: 30px;
  }

  .navigation_location_saved-news {
    margin-bottom: 8px;
  }
}
