.news-card {
  position: relative;
  cursor: pointer;
}

.news-card__photo {
  display: flex;
  background-color: #F5F6F7;
  width: 100%;
  height: calc(272 / 400 * (100vw - (100vw - 1440px) - 240px) / 3);
  object-fit: cover;
  object-position: top;
  border-radius: 16px 16px 0 0;
}

.news-card__save-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
  transition: .2s linear;
  outline: none;
}

.news-card__save-btn:hover {
  background-image: url(../../images/news-card__save-btn_state_hover.svg);
}

.news-card__save-btn:focus {
  background-image: url(../../images/news-card__save-btn_state_hover.svg);
  transition: none;
}

.news-card__save-btn_state_normal {
  background-image: url(../../images/news-card__save-btn_state_normal.svg);
}

.news-card__save-btn_state_marked {
  background-image: url(../../images/news-card__save-btn_state_marked.svg);
}

.news-card__container {
  padding: 20px 24px 24px;
  background-color: white;
  border-radius: 0 0 16px 16px;
}

.news-card__date {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 0 0 12px;
}

.news-card__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 16px;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 18px;
}

.news-card__src {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #B6BCBF;
  text-transform: uppercase;
  margin: 0;
}
