.news-card {
  position: relative;
  cursor: pointer;
}

.news-card__photo {
  display: block;
  background-color: #F5F6F7;
  width: 100%;
  height: calc(272 / 400 * (100vw - (100vw - 1440px) - 240px) / 3);
  object-fit: cover;
  object-position: top;
  border-radius: 16px 16px 0 0;
}

.news-card__container {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 24px;
  background-color: white;
  border-radius: 0 0 16px 16px;
  height: 260px;
}

.news-card__date {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 0 0 12px;
}

.news-card__title {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 16px;
}

.news-card__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 12px;
  overflow: hidden;
}

.news-card__src {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #B6BCBF;
  text-transform: uppercase;
  margin: auto 0 0;
}

@media all and (max-width: 1439px) {
	.news-card__photo {
    height: calc(272 / 400 * (100vw - 240px) / 3);
  }

  .news-card__title {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .news-card__container {
    padding: 16px;
    height: 238px;
  }
}

@media all and (max-width: 1023px) {
	.news-card__photo {
    height: calc(272 / 400 * (100vw - 96px) / 3);
  }
}

@media all and (max-width: 767px) {
  .news-card__photo {
    height: calc(272 / 400 * (100vw - 88px) / 2);
  }
}

@media all and (max-width: 499px) {
  .news-card__photo {
    height: calc(272 / 400 * (100vw - 32px));
  }

  .news-card__container {
    height: 217px;
  }
}
